body{
    background-color: #bec1c6;
}
h1{
    border-bottom: 1px solid black;
}
h4{
    margin-bottom: 0;
}
.centerDiv{
    margin: auto;
    width: 40%;
    text-align: center;
    border: 1px solid black;
}
button{
    height: 5vh;
    width: 8vh;
}
footer {
    text-align: center;
    margin-top: 10em;
    border-top: 1px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}